.section__buttonsContainer {
    align-self: center;
    
}
@media (max-width: 768px) {
    .section__buttonsContainer {
        display: grid;
        grid-template-columns: 1fr;
    }
}

.section__button {
    color: teal;
    background: none;
    border: none;
    padding: 20px;
    font-size: 18px;
    transition: color 1s;
}

.section__button:hover {
    color: hsl(180, 100%, 35%);
}

.section__button:disabled{
    color: #e0e0e0;
}